<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Displaying Salgrade table data</h1>
        <table style="margin: 30px; border: 5px dotted brown;">
            <tr>
                <th>grade</th>
                <th>losal</th>
                <th>hisal</th>
            </tr>
        
        {% for so in QLSO %}
        <tr>
            <td>{{so.grade}}</td>
            <td>{{so.losal}}</td>
            <td>{{so.hisal}}</td>
        </tr>
        {% endfor %}
        </table>
          
        
    </center>
</body>
</html>